<div class="ui raised very padded text container segment">
  <h4 class="ui dividing header">New Entry Information</h4>

  <%= render 'form', entry: @entry %>

  <%= link_to 'Back', entries_path %>
</div>