<div class="ui raised very padded text container segment">
  <h4 class="ui dividing header">New Category Information</h4>

  <%= render 'form', category: @category %>

  <%= link_to 'Back', categories_path %>
</div>